<p id="notice"><%= notice %></p>
<%= @message.content %>git remote add origin https://github.com/tarakish/action_text_training.git
<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
